<a routerLink="/leitores" routerLinkActive="active" ariaCurrentWhenActive="page"
  class="fixed top-20 left-20 bg-blue-700 rounded-full flex items-center justify-center aspect-square w-10 h-10">
  <fa-icon [icon]="faArrowLeft" class="text-white text-2xl"></fa-icon>
</a>

<div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
  <h1 class="text-center font-bold text-3xl">DETALHAR LEITOR</h1>

  <div class="flex items-center justify-center space-x-4 mt-8">
    <img class="w-40 h-40 rounded-full" [src]="leitor?.picture" alt="Jese image">
    <div>
      <h2 class="mb-2 text-xl font-semibold leading-none text-gray-900 md:text-2xl">{{ leitor?.name }}</h2>
      <div class="flex items-center space-x-4">
        <button type="button" (click)="onDelete()"
          class="inline-flex items-center text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center   ">
          <svg aria-hidden="true" class="w-5 h-5 mr-1.5 -ml-1" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
              clip-rule="evenodd"></path>
          </svg>
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>
